{% extends 'layout.html' %}

{% block body %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">La Magia de los Números</h1>
        <p><img src="/static/images/img/1.jpeg" width="200" height="300" class="derecha"></p>
        <p class="lead">
            Más allá de los números naturales existen otros tipos de números que fueron surgiendo a lo largo de la
            historia con el fin de expresar situaciones y resolver problemas para los cuales los primeros resultaron
            insuficientes. Sin duda, recordarás por ejemplo los números enteros, los racionales o los reales. Pero
            ¿sabías que existen también los números felices? Si tienes curiosidad por descubrir más nociones e historias
            sobre las matemáticas ¡no sueltes este libro! A través de juegos elementales, acertijos y figuras mágicas,
            obtendrás conocimientos útiles sobre la aritmética y la geometría. Además de problemas relacionados con los
            antiguos egipcios, Pitágoras o con los sistemas de numeración, nuestro autor plantea problemas de geometría
            que puedes experimentar utilizando materiales simples, como el plegado de papel o un tablero para jugar al
            tres en raya. En estas páginas encontrarás un motivo de recreo y al mismo tiempo de aprendizaje.
        </p>
    </div>
</div>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Tu hijo puede ser un genio de las mates</h1>
        <p><img src="/static/images/img/2.jpg" width="200" height="300" class="derecha"></p>
        <p class="lead">Sumas y restas, fracciones, áreas, potencias, raíces cuadradas, ecuaciones… En muchos hogares,
            las matemáticas son todo un problema, pero solo porque no nos han enseñado hasta qué punto pueden resultar
            fáciles. Basta con que tu hijo las aprenda peldaño a peldaño, con la motivación adecuada, comprendiendo cada
            paso y divirtiéndose con ellas lejos de fórmulas, recetas e incluso lejos del aula. </p>
        <p class="lead">¿Sabías que para llegar a ser un gran matemático apenas hace falta memorizar nada?, ¿o que
            puedes ayudar a tu hijo con el cálculo, la geometría o la aritmética casi sin daros cuenta, mientras vais de
            paseo o hacéis la compra?, ¿o que al mismo tiempo le ayudas a potenciar competencias que resultarán
            decisivas en su futuro, como la confianza en sí mismo, la tenacidad o la creatividad que requiere la
            resolución de problemas?, ¿y sabes que encontrarás aliados en trucos de magia o en juegos de cartas? </p>
    </div>
</div>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Filosofía de la ciencia natural</h1>
        <p><img src="/static/images/img/3.jpg" width="200" height="300" class="derecha"></p>
        <p class="lead">En esta obra clásica, Carl G. Hempel (1905-1977) ofreció una introducción a algunos de los temas
            centrales de la metodología y la filosofía de la ciencia natural: cómo se llega al conocimiento científico,
            cómo se fundamenta éste y cómo cambia, además de analizar, asimismo, otros problemas generales referidos a
            los presupuestos y límites de la investigación científica.</p>
    </div>
</div>


{% endblock %}